:root {
  --vp-c-accent: #b45309;
  --vp-c-text: #151c23;
  --vp-font-family-base: DM Sans, ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont, sans-serif;
  --vp-font-family-mono: DM Mono, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --vp-bg-gradient: 255,255,255;

  --vp-c-brand: var(--vp-c-green);
  --vp-c-brand-light: var(--vp-c-green-light);
  --vp-c-brand-lighter: var(--vp-c-green-lighter);
  --vp-c-brand-dark: var(--vp-c-green-dark);
  --vp-c-brand-darker: var(--vp-c-green-darker);
}

.mono, .nav-bar-title {
  font-family: var(--font-family-mono);
}

li {
  @apply pb-2;
}

main.home {
  position: relative;
  overflow-x: hidden;
}

main {
  @apply text-gray-700 dark:text-gray-200 overflow-y-hidden;
}

.custom-block.tip {
  background-color: rgba(255, 229, 100, 0.1)
}

.custom-block.warning {
  color: inherit;
}

.nav-bar-title {
 @apply !text-base !text-teal-700 !dark:text-teal-200 !font-mono;
  font-weight: 500 !important;
}

.nav-bar-title .logo {
  height: 1.5em !important;
  margin-right: 0.5rem !important;
}

/* Overrides */

.home-content {
  max-width: 100% !important;
  padding: 0 !important;
}

.custom-block.tip {
  border-color: var(--c-accent) !important;
  background-color: #90C32130 !important;
}

div[class*='language-'][class*='with-filename'] {
  @apply relative pt-4;
}

div[class*='language-'] .code-block-filename {
  @apply absolute top-0 left-0 py-1 px-2 text-xs text-cool-gray-200 dark:text-cool-gray-400 bg-dark-500 dark:bg-dark-300 rounded-br;
}

div[class*='language-'] {
  @apply shadow-sm shadow-gray-200 dark:shadow-dark-500;
}

a[href="http://Schema.org"] {
  color: inherit !important;
}

.highlight-lines .highlighted {
  background-color: rgb(0 0 0 / 20%);
}

.home .content-container, .home .content, .home .VPDoc > .container {
  max-width: 100% !important;
}

.home .aside {
  display: none !important;
}

.vp-doc p {
  line-height: inherit !important;
}

.vp-doc a {
  transition: inherit !important;
}


.VPNavBarMenuLink[target="_blank"]:after {
  content: '↗';
  padding-left: 5px;
  font-size: 0.75rem;
  opacity: 0.7;
}

.vp-doc [class*='language-'] pre {
  display: block !important;
}

.vp-doc [class*='language-'] pre:before, .vp-doc [class*='language-'] code:before {
  display: none !important;
}
